.Navigation {
  &__navbar {
    background-color: var(--secondary) !important;
    color: var(--tertiary) !important;
  }
  &__logo {
    display: flex !important;
    align-items: center !important;
    img {
      filter: invert(100%);
    }
  }
  &__dropdown {
    a {
      text-decoration: none;
      padding: 5px;
    }
    a:hover {
      text-decoration: none;
    }
    color: white;
    display: flex;
    flex-direction: column;
  }
}
