* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #660708;
  --primary2: #ba181b;
  --secondary: #0b090a;
  --secondary2: #161a1d;
  --tertiary: #d3d3d3;
  --tertiary2: #f5f3f4;
  --borderBottom: 1px solid rgba(148, 148, 148, 0.274);
  --text: rgb(224, 224, 224);
}
